<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomizationsWilliamHillPlayerService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WilliamHillMaryland.PlayerService/WilliamHillMarylandPlayerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomizationsWilliamHillPlayerService"
                contract="ICustomizationsWilliamHillPlayerService" name="WSHttpBinding_ICustomizationsWilliamHillPlayerService" />
        </client>
    </system.serviceModel>
</configuration>